<h1 class="edit">ブログ詳細画面</h1>

<p>content</p>
<p>↓↓↓</p>
<p><%= @blog.content %></p>

<p id="notice"><%= notice %></p>


<p><%= image_tag @blog.image.url %></p>


<div class="editback">

  <%= link_to "Edit", edit_blog_path(@blog.id), data: { confirm: '本当に編集していいですか？' },class:"btn btn-info" %>
  <%= link_to 'Back', blogs_path,class:"btn btn-info" %>
</div>
