<!DOCTYPE html>
<html>
  <head>
    <title>SnsClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="site-wrapper">
          <header class="header">
        <nav>
          <ul class="top-menu clearfix">


              <% if logged_in? %>
              <li><%= link_to "Harinezumi", blogs_path %></li>
              <li><%= link_to "Home", blogs_path %></li>
              <li><%= link_to 'Create', new_blog_path %></li>
                <span class="right">
              <li><%= link_to "Profile", user_path(current_user.id) %></li>
              <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
              <% else %>
              <span class="right">
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Log in", new_session_path %></li>
              </span>

              <% end %>
            </span>
          </ul>
        </nav>
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
    </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
