<!DOCTYPE html>
<html>
  <head>
    <title>SnsClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>





      <header class="header">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <nav>
          <ul class="top-menu">
            <li><a href="#">Harinezumi</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Create</a></li>
            <% if logged_in? %>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_path %></li>
              <li><%= link_to "Login", new_session_path %></li>
            <% end %>
          </ul>
        </nav>

    </header>

      <div class="container">
      <%= yield %>
      </div>

  </body>
</html>
